
{% include 'healthierhabits/base_start.html' %}

{% include 'healthierhabits/customers/base_start.html' %}


<blockquote>

  <h1>Healthier Habits</h1>

  <h2>Customer Edited Successfully</h2>

</blockquote>


{% if new_customer %}

  <ul>

    {% include 'healthierhabits/customers/table_start.html' %}


      {% for row in new_customer %}

        {% include 'healthierhabits/customers/table_one_row.html' %}

      {% endfor %}

    {% include 'healthierhabits/customers/table_finish.html' %}

  </ul>

{% else %}

  <p>
    There are no customers yet.<br>
  </p>

{% endif %}


{% include 'healthierhabits/customers/base_finish.html' %}

{% include 'healthierhabits/base_finish.html' %}

