
{% include 'healthierhabits/base_start.html' %}

{% include 'healthierhabits/groups/base_start.html' %}


<blockquote>

  <h1>Healthier Habits</h1>

  <h2>Details of {{ group.name_string }}</h2>

</blockquote>


<br>
<br>

  <table border="0" width="80%">

    <tr>
      <td align="right" width="50">
	Group ID:&nbsp;&nbsp;
      </td><td>
	{{ group.id }}
      </td>
    </tr>

    <tr>
      <td align="right" width="150">
	Name:&nbsp;&nbsp;
      </td><td>
	{{ group.name }}
      </td>
    </tr>

    <tr>
      <td align="right">
	Address1:&nbsp;&nbsp;
      </td><td>
	{{ group.address1 }}
      </td>
    </tr>

    <tr>
      <td align="right">
	Address2:&nbsp;&nbsp;
      </td><td>
	{{ group.address2 }}
      </td>
    </tr>

    <tr>
      <td align="right">
	City:&nbsp;&nbsp;
      </td><td>
	{{ group.city }}
      </td>
    </tr>

    <tr>
      <td align="right">
	State:&nbsp;&nbsp;
      </td><td>
	{{ group.state }}
      </td>
    </tr>

    <tr>
      <td align="right">
	Zip:&nbsp;&nbsp;
      </td><td>
	{{ group.zip }}
      </td>
    </tr>

    <tr>
      <td align="right">
	email:&nbsp;&nbsp;
      </td><td>
	{{ group.email }}
      </td>
    </tr>

    <tr>
      <td align="right">
	Phone:&nbsp;&nbsp;
      </td><td>
	{{ group.phone }}
      </td>
    </tr>

  </table>

  <h3><a href="../edit/{{ group.id }}">Edit Group</a></h3>
  <br><br>


  <!--
  {% include 'healthierhabits/groups/base_finish.html' %}

  {% include 'healthierhabits/base_finish.html' %}
  -->
