
{% include 'healthierhabits/base_start.html' %}

{% include 'healthierhabits/groups/base_start.html' %}


<blockquote>

  <h1>Healthier Habits</h1>

  <h2>Edit the {{ group.name_string }} Groups</h2>

</blockquote>


<br>
<br>

<form action="../edit_action" method="post">

  {% csrf_token %}

  <input type="hidden" name="id" value="{{ group.id }}">

  <table border="0" width="80%">

    <tr>
      <td align="right" width="150">
	<label for="1">Name:&nbsp;&nbsp;</label>
      </td><td>
	<input type="text" name="name" id="1" value="{{ group.name }}" />
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="2">Address1:&nbsp;&nbsp;</label>
      </td><td>
	<input type="text" name="address1" id="2" value="{{ group.address1 }}" />
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="3">Address2:&nbsp;&nbsp;</label>
      </td><td>
	<input type="text" name="address2" id="3" value="{{ group.address2 }}" />
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="4">City:&nbsp;&nbsp;</label>
      </td><td>
	<input type="text" name="city" id="4" value="{{ group.city }}" />
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="5">State:&nbsp;&nbsp;</label>
      </td><td>
	<input type="text" name="state" id="5" value="{{ group.state }}" />
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="6">Zip:&nbsp;&nbsp;</label>
      </td><td>
	<input type="text" name="zip" id="6" value="{{ group.zip }}" />
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="7">email address:&nbsp;&nbsp;</label>
      </td><td>
	<input type="text" name="email" id="7" value="{{ group.email }}" />
      </td>
    </tr>

    <tr>
      <td align="right">
	<label for="8">Phone:&nbsp;&nbsp;</label>
      </td><td>
	<input type="text" name="phone" id="8" value="{{ group.phone }}" />
      </td>
    </tr>


    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>

    <tr>
      <td>
	&nbsp;
      </td><td>
	<input type="submit" value="Submit Edits" />
      </td>
    </tr>

  </table>

</form>


<!--
  {% include 'healthierhabits/groups/base_finish.html' %}

  {% include 'healthierhabits/base_finish.html' %}
  -->
